@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wiggle {
  0% {
    transform: translateX(0);
    transform: translateY(0);
  }
  50% {
    transform: translateX(-2px);
    transform: translateY(-2px);
  }
  100% {
    transform: translateX(2px);
    transform: translateY(2px);
  }
 
}

.animate-wiggle {
  animation: wiggle 3s ease-in-out infinite;
}